<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blogLayout/layout}">
<th:block layout:fragment="title" th:text="'Denizcan Demir - ' +#{general.label.aboutMe}"></th:block>
<th:block layout:fragment="content">

<p id="metin" class="mt-3"></p>
 
 <script th:inline="javascript">
var message = [[${about.content}]]

document.getElementById("metin").innerHTML=message;

</script>

</th:block>
</html>