<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blogLayout/layout}">
<th:block layout:fragment="title" th:text="'Denizcan Demir - '+ #{general.label.contact}"></th:block>
<th:block layout:fragment="content">
<script src='https://www.google.com/recaptcha/api.js'></script>

<form method="post" th:action="@{/contact}" class="mt-3" th:object="${contact}">
	<div class="row uniform">
		<div class="col-md-7 col-xs-12">
			<input type="text" th:field="${contact.name}"   th:placeholder="#{general.label.name}" required="required" />
		</div>
		<div class="col-md-7 col-xs-12">
			<input type="email" th:field="${contact.email}"   th:placeholder="#{general.label.email}" required="required" />
		</div>
		<div class="col-md-12">
			<textarea name="demo-message" th:field="${contact.message}" th:placeholder="#{general.label.enterYourMessage}" rows="6" required="required"></textarea>
		</div>
		<div class="col-md-12">
			<div class="g-recaptcha" data-sitekey="6LcwgXMUAAAAADnNq9D6p4T-FWCpdRvrGbtBI1pu"></div>
		</div>
		<div class="col-md-12">
			<ul class="actions">
				<li><input type="submit" th:value="#{general.label.sendMessage}" class="special" /></li>
				<li><input type="reset" th:value="#{general.label.clear}" /></li>
			</ul>
		</div>
 	</div>
</form>
<div th:if="${message}" th:text="#{${message}}" class="alert alert-warning col-md-12">d</div>
</th:block>
</html>