<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blogLayout/layout}">
<th:block layout:fragment="title" th:text="#{general.label.lessons} + ' - ' + ${lesson.title}"></th:block>
<th:block layout:fragment="content">
	<section>
		<header class="main">
			<h1 th:text="${lesson.title}"></h1>
		</header>
		<div style="border-bottom:solid 1px #ccc; margin-bottom: 15px;">
			<span th:text="${lesson.author.firstName +' '+lesson.author.lastName + ' — '}" style="font-weight: bold;"></span>
			<span th:text="${#dates.format(lesson.date, 'dd MMMM yyyy')}"></span>
		</div>
		<p th:text="${lesson.description}"></p>
		<span class="image main"><img th:src="${lesson.image}"/></span>
		
		<p id="metin"></p>
		
	</section>

<script th:inline="javascript">
var message = [[${lesson.content}]]

document.getElementById("metin").innerHTML=message;

</script>

</th:block>
</html>