<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{blogLayout/layout}">
<th:block layout:fragment="title" th:text="${news.title}"></th:block>
<th:block layout:fragment="content">
	<section>
		<header class="main">
			<h1 th:text="${news.title}">Generic</h1>
		</header>
		<div style="border-bottom:solid 1px #ccc; margin-bottom: 15px;">
			<span th:text="${news.author.firstName +' '+news.author.lastName + ' — '}" style="font-weight: bold;"></span>
			<span th:text="${#dates.format(news.createDate, 'dd MMMM yyyy')}"></span>
		</div>
		
		<p th:text="${news.description}"></p>
		<span class="image main"><img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(news.image)}}"/></span>
		
		<p id="metin"></p>
		
	</section>

<script th:inline="javascript">
var message = [[${news.content}]]

document.getElementById("metin").innerHTML=message;

</script>

</th:block>
</html>