<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{general.label.newsAdd}"></title>
  <meta charset="UTF-8">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body style="background-color: #f8f9fa;">
  <div class="container">
  	<form th:action="@{/admin/news/add}" method="post" th:object="${news}" enctype="multipart/form-data" class="form-group">
		 <input type="text" th:field="${news.title}" class="form-control form-group" th:placeholder="#{general.label.title}" style="margin-top:10px;">
		 <input type="text" th:field="${news.description}" class="form-control form-group" th:placeholder="#{general.label.description}">
		 <label for="m1">Header Image</label>
		 <input id="m1" type="file" name="images" class="form-control form-group" required="required" accept="image/x-png,image/gif,image/jpeg"> 
		 <textarea id="summernote" name="editordata" th:field="${news.content}"></textarea>
		 <input  type="submit" th:value="#{general.label.save}" class="btn btn-danger  form-group">
		 <input  type="reset" th:value="#{general.label.clear}" class="btn btn-warning  form-group ">
		 <a  th:href="@{/admin/news/list}" class="pull-right btn btn-success form-group" th:text="#{general.label.back}"></a> 
	 </form>
	 
	<form id="upload-file-form" th:action=@{/uploadFile} method="post" enctype="multipart/form-data" class="form-group">
	<label for="upload-file-input" class="form-group">Context Image</label>
	   <input id="upload-file-input" type="file" class="form-control form-group" name="uploadfile" accept="image/x-png,image/gif,image/jpeg" />
	</form>
	
	<div class="alert-primary" id="imageUrl"></div>
	<script type="text/javascript" src="/js/imageupload.js"></script>	
</div>
  <script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>
</body>
</html>
