<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout/layout}">
<th:block layout:fragment="title" th:text="#{general.label.userList}"></th:block>
<th:block layout:fragment="content">

 
 <div class="table-wrapper mt-3">
	<table>
		<thead>
			<tr>
				<th th:text="#{general.label.firstName}"></th>
				<th th:text="#{general.label.lastName}"></th>
				<th th:text="#{general.label.email}"></th>
				<th th:text="#{general.label.status}"></th>
				<th th:text="#{general.label.action}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.enabled}"></td>
				<td>
					<a th:href="@{'/admin/users/edit/'+ ${user.id}}" style="border:none" class="mr-1"><i class="fas fa-pencil-alt"></i></a>
					<a th:href="@{'/admin/users/delete/'+ ${user.id}}" style="border:none" class="ml-1" onclick="return confirm('Are you sure !');"><i class="fas fa-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
 
</th:block>
</html>