<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout/layout}">

<body>

	<div layout:fragment="header">
		<header id="header">
			<a th:href="@{/}" class="logo"><i class="fab fa-java fa-2x"></i> <strong> Write once, run anywhere . . .</strong> </a>
			<ul class="icons">
				<li><a href="https://www.linkedin.com/in/denizcandmr" class="icon fab fa-linkedin"><span class="label">Linkedin</span></a></li>
				<li><a href="https://github.com/DnzDmR" class="icon fab fa-github-alt"><span class="label">Github</span></a></li>
				<li><a href="https://www.instagram.com/denizcandemiir/" class="icon fab fa-instagram"><span class="label">Instagram</span></a></li>
				<li>
 
				<select id="locales" class="border-white">
				    <option th:text="${#strings.toString(#locale)}=='en' ? 'EN' : 'TR' "></option>
				    <option th:if="${#strings.toString(#locale)} !='tr'" value="tr" th:text="TR"></option>
				    <option th:if="${#strings.toString(#locale)} !='en'" value="en" th:text="EN"></option>
				</select>
				</li>
			</ul>
		</header>
 	
	</div>
	
	<!-- HEADER ICIN KULLANILACAK SCRİPTLER BURADA YER ALACAK  -->
	
	<div layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function() {
			    $("#locales").change(function () {
			        var selectedOption = $('#locales').val();
			        if (selectedOption != ''){
			            window.location.replace('?lang=' + selectedOption);
			        }
			    });
			});
	</script>
	</div>

</body>
</html>