<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminLayout/layout}">

<body>

	<div layout:fragment="sidebar">
		 <!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
						
								<!-- Search -->
								<section id="search" class="alt">
				
									<div style="width: 50%; margin: auto;">
										<img style="border-radius: 50%;" class="card-img"
											src="https://avatars2.githubusercontent.com/u/32747214?s=460&v=4"
											alt="Card image cap">
									</div>
									<div>
										<h3 class="text-center mt-2">DENİZCAN DEMİR</h3>
										<p class="text-center text-uppercase" th:text="#{general.label.siteTitle}"></p>
									</div>
 		
								</section>
								
							 	<div class="text-center mt-2" sec:authorize="isAuthenticated()">
									<form  th:action="${#httpServletRequest.getContextPath()+'/logout'}" method="post">
										<input type="hidden" th:value="${_csrf.token}"	th:name="${_csrf.parameterName}" />
										<input type="submit" class="special" th:value="#{general.label.logout}" />
									</form>
								</div>
 																
								<!-- Menu -->
								<nav id="menu" sec:authorize="isAuthenticated()">
 
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a th:href="@{/admin/home}" th:text="#{general.label.homePage}"></a></li>
 										<li><a th:href="@{/admin/about}" th:text="#{general.label.aboutMe}"></a></li>
 										<li>
											<span class="opener" th:text="#{general.label.users}"></span>
											<ul>
												<li><a th:href="@{/admin/users/add}" th:text="#{general.label.add}"></a></li>
												<li><a th:href="@{/admin/users/list}" th:text="#{general.label.list}"></a></li>
											</ul>
										</li>
										<li>
											<span class="opener" th:text="#{general.label.news}"></span>
											<ul>
												<li><a th:href="@{/admin/news/add}" th:text="#{general.label.add}"></a></li>
												<li><a th:href="@{/admin/news/list}" th:text="#{general.label.list}"></a></li>
											</ul>
										</li>
										<li>
											<span class="opener" th:text="#{general.label.lessons}"></span>
											<ul>
 												<li><a th:href="@{/admin/lessons/add}" th:text="#{general.label.add}"></a></li>
												<li><a th:href="@{/admin/lessons/list}" th:text="#{general.label.list}"></a></li>
											</ul>
										</li>
										<li>
											<span class="opener" th:text="#{general.label.categories}"></span>
											<ul>
 												<li><a th:href="@{/admin/categories/add}" th:text="#{general.label.add}"></a></li>
												<li><a th:href="@{/admin/categories/edit}" th:text="#{general.label.edit}"></a></li>
											</ul>
										</li>
										<li><a th:href="@{/admin/contacts/list}" th:text="#{general.label.inbox}"></a></li>
					 
									</ul>
								</nav>
 
						</div>
					</div>
	</div>

</body>
</html>